<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- import CSS -->
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    </head>
    <body>
        <div id="app">


            <el-form label-width="100px" size="small" :model="form" :inline="true">


                <el-form-item label="主叫号码">
                    <el-input v-model="form.callNo"></el-input>
                </el-form-item>
                <el-form-item label="被叫号码">
                    <el-input v-model="form.calledNo"></el-input>
                </el-form-item>
                <el-form-item label="开始时间">
                    <el-date-picker v-model="form.beginTime" :clearable="false"
                                    value-format="yyyy-MM-dd"></el-date-picker>
                </el-form-item>
                <el-form-item label="结束时间">
                    <el-date-picker v-model="form.endTime" :clearable="false"
                                    value-format="yyyy-MM-dd"></el-date-picker>
                </el-form-item>

                <el-form-item label="状态">

                    <el-select v-model="form.status" clearable>
                        <el-option v-for="item in
                        [
                             {name:'已接听',id:'dealing',value:'dealing'},
                             {name:'振铃未接听',id:'notDeal',value:'notDeal'},
                             {name:'排队放弃',id:'queueLeak',value:'queueLeak'},
                             {name:'已留言',id:'voicemail',value:'voicemail'},
                             {name:'IVR 放弃',id:'leak',value:'leak'},
                             {name:'黑名单',id:'blackList',value:'blackList'},
                         ]"
                                   :key="item.id"
                                   :label="item.name"
                                   :value="item.value">
                        </el-option>
                    </el-select>


                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="search" size="mini">查询</el-button>
                </el-form-item>

            </el-form>


            <el-form>
                <el-form-item>
                    <audio :src="src" controls id="audio"></audio>
                </el-form-item>
            </el-form>


            <el-table :data="table.data">

                <el-table-column prop="cALL_NO" label="主叫号码" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="cALLED_NO" label="被叫号码" :show-overflow-tooltip="true"></el-table-column>

                <el-table-column prop="oFFERING_TIME" label="呼叫发起时间" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="bEGIN_TIME" label="通话开始时间" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="eND_TIME" label="结束时间" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="cONNECT_TYPE" label="呼叫类型" :show-overflow-tooltip="true">
                    <template slot-scope="scope">
                        <span v-if="'normal'==scope.row.cONNECT_TYPE">
                        普通来电
                        </span>
                        <span v-if="'dialout'==scope.row.cONNECT_TYPE">
                        外呼去电
                        </span>
                        <span v-if="'transfer'==scope.row.cONNECT_TYPE">
                        来电转接
                        </span>
                        <span v-if="'dialTransfer'==scope.row.cONNECT_TYPE">
                        外呼转接
                        </span>
                    </template>

                </el-table-column>
                <el-table-column prop="sTATUS" label="处理状态" :show-overflow-tooltip="true">

                    <template slot-scope="scope">
                        <span v-if="'dealing'==scope.row.sTATUS">
                            已接听
                        </span>
                        <span v-if="'notDeal'==scope.row.sTATUS">
                            振铃未接听
                        </span>
                        <span v-if="'queueLeak'==scope.row.sTATUS">
                            排队放弃
                        </span>
                        <span v-if="'blackList'==scope.row.sTATUS">
                           黑名单
                        </span>
                        <span v-if="'voicemail'==scope.row.sTATUS">
                            已留言
                        </span>
                        <span v-if="'leak'==scope.row.sTATUS">
                            IVR 放弃
                        </span>
                    </template>
                </el-table-column>
                <!--<el-table-column prop="dISPOSAL_AGENT" label="处理座席 ID" :show-overflow-tooltip="true"></el-table-column>-->

                <el-table-column prop="cUSTOMER_NAME" label="定位客户名称" :show-overflow-tooltip="true"></el-table-column>
                <!--<el-table-column prop="kEY_TAG" label="是否标记" :show-overflow-tooltip="true"></el-table-column>-->
                <el-table-column prop="cALL_TIME_LENGTH" label="通话时长" :show-overflow-tooltip="true"></el-table-column>
                <!--<el-table-column prop="pREMEDIA_KEY" label="前媒体识别到的关键字" :show-overflow-tooltip="true"></el-table-column>-->
                <!--<el-table-column prop="pREMEDIA_MEMO" label="内容" :show-overflow-tooltip="true"></el-table-column>-->


                <el-table-column label="操作" align="center" width="200">
                    <template slot-scope="scope">

                        <el-button size="mini" @click="playRecord(scope.row)" v-if="scope.row.cALL_TIME_LENGTH>0">
                            <i class="el-icon-phone-outline"></i>播放
                        </el-button>

                        <a
                                v-if="scope.row.cALL_TIME_LENGTH>0"
                                :href="baseUrl + 'api/file/' + scope.row.cALL_SHEET_ID + '.mp3'" target="_blank"
                                :download="scope.row.cALL_SHEET_ID+'.mp3'">
                            <el-button size="mini"><i class="el-icon-download"></i> 下载
                            </el-button>
                        </a>

                    </template>
                </el-table-column>
            </el-table>

            <el-pagination
                    layout="total, pager, prev, next"
                    small
                    v-show="table.total>15"
                    :total="table.total"
                    :page-size="15"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage"
                    background
            />
        </div>
    </body>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: function () {
                return {
                    visible: false,
                    form: {
                        beginTime: undefined,
                        endTime: undefined,
                        callNo: undefined,
                        calledNo: undefined,
                        connectType: undefined,
                        status: undefined,
                        currentPage: undefined,
                    },
                    table: [],
                    src: undefined,
                    baseUrl: "http://localhost:80/",
                    currentPage: 1

                }
            },

            mounted: function () {
                console.error("mounted")

                this.loadData()
            },
            computed: {},
            methods: {

                search() {
                    this.currentPage = 1
                    this.loadData();

                },
                handleCurrentChange(val) {
                    // console.error(val)
                    this.currentPage = val;
                    this.loadData()
                },
                playRecord(row) {
                    // this.src = row.fILE_SERVER + '/' + row.rECORD_FILE_NAME

                    this.src = this.baseUrl + 'api/file/' + row.cALL_SHEET_ID + '.mp3'

                    setTimeout(() => {
                        document.getElementById('audio').play()
                    }, 100)
                },
                loadData() {
                    axios.get(this.baseUrl + 'listRecord/',
                        {
                            params: {
                                'beginTime': this.form.beginTime,
                                'endTime': this.form.endTime,
                                'callNo': this.form.callNo,
                                'calledNo': this.form.calledNo,
                                'status': this.form.status,
                                'connectType': this.form.connectType,
                                'currentPage': this.currentPage
                            }
                        }, {
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
                            }
                        }).then((response) => {
                        this.table = response.data

                        this.currentPage = response.data.currentPage

                        // console.info(response);
                    }).catch((error) => {
                        console.error(error);
                    });
                }
            }
        })


    </script>
</html>
