<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">

</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                visible: false,
                form: {
                    beginTime: undefined,
                    status: undefined,
                    currentPage: undefined,
                },
                table: [],
                src: undefined,
                baseUrl: "http://localhost:80/",
                currentPage: 1

            }
        },

        mounted: function () {
            console.error("mounted")
            this.loadData()
        },
        computed: {},
        methods: {

            search() {
                this.currentPage = 1
                this.loadData();

            },
            handleCurrentChange(val) {
                // console.error(val)
                this.currentPage = val;
                this.loadData()
            },

            loadData() {
                axios.get(this.baseUrl + 'list/',
                    {
                        params: {
                            'beginTime': this.form.beginTime,
                            'endTime': this.form.endTime,
                            'currentPage': this.currentPage
                        }
                    }, {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
                        }
                    }).then((response) => {
                    this.table = response.data
                    this.currentPage = response.data.currentPage
                    // console.info(response);
                }).catch((error) => {
                    console.error(error);
                });
            }
        }
    })


</script>
</html>
